# 1. Dependensi Node (WAJIB DIABAIKAN)
node_modules/

# 2. File Rahasia / Environment Variables (PENTING)
.env
.env.local

# 3. File Log (Sampah terminal)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 4. File Sampah Sistem Operasi (Mac / Windows)
.DS_Store
Thumbs.db

# ─── TAMBAHAN BARU ───

# 5. Konfigurasi Vercel Local (Jika kamu tes build di komputer sendiri)
.vercel/

# 6. Konfigurasi IDE / Text Editor (Biar settingan VSCode kamu nggak ikut ke-push)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj